<%= form_with(model: text, local: true) do |form| %>
  <% if text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text_id %>
    <%= form.text_field :text_id, id: :text_text_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :text_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
